<ion-content [fullscreen]="true" class="reset-password-content">
  <div class="reset-password-container">
    <img src="assets/icon/logo.png" alt="Logo del proyecto" class="logo-image" />
    <h1 class="reset-password-title">UnusualCode</h1>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="sendResetLink()" class="reset-password-form">
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input
          type="email"
          formControlName="email"
          required
          [ngClass]="{'input-error': resetPasswordForm.get('email')?.invalid && resetPasswordForm.get('email')?.touched}">
        </ion-input>
      </ion-item>
      <ion-note *ngIf="resetPasswordForm.get('email')?.hasError('required') && resetPasswordForm.get('email')?.touched" color="danger">
        El correo electrónico es obligatorio.
      </ion-note>
      <ion-note *ngIf="resetPasswordForm.get('email')?.hasError('email') && resetPasswordForm.get('email')?.touched" color="danger">
        Debe ser un correo electrónico válido.
      </ion-note>
      <ion-button expand="full" type="submit" class="reset-password-button" [disabled]="resetPasswordForm.invalid">
        Enviar Enlace
      </ion-button>
    </form>
    <button (click)="goBack()" class="button-link">Volver</button>
  </div>
</ion-content>
