
<ion-content [fullscreen]="true">
  <ion-card *ngIf="user">
    <ion-card-header>
      <p>Nombre:</p>
      {{ user['fullname'] }}
    </ion-card-header>

    <ion-card-content>
      <p>Correo:</p>
      {{ user['email'] }}
      <p>Estado:{{ user['typeUser'] }}</p>
    </ion-card-content>
  </ion-card>
  <p *ngIf="user.typeUser ==='2'"> Tipo usuario: cliente</p>
  <p *ngIf="user.typeUser ==='3'"> Tipo usuario: programador</p>


  <a [routerLink]="['/client']" >volver</a>


  <ion-button *ngIf="user" (click)="logout()">Cerrar sesión</ion-button>
</ion-content>
